@font-face
    font-family: 'roboto'
    src: url(../fonts/Roboto/Roboto-Medium.woff2)
    font-weight: 500

@font-face
    font-family: 'roboto'
    src: url(../fonts/Roboto/Roboto-Bold.woff2)
    font-weight: bold

@font-face
    font-family: 'roboto'
    src: url(../fonts/Roboto/Roboto-Thin.woff2)
    font-weight: thin